<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body id="app">
    <header
    v-if="showList || shouldShowList"
    v-cloak
    >
        <nav class="header-list">
            <ul class="site-menu">
                <li v-for="item in menuItems" :key="item.id"><a :href="item.link">{{ item.text }}</a></li>
            </ul>
            <hr class="vector">
        </nav>
    </header>
    <main>
        <!-- Первый этаж -->
        <section id="home" class="stage-1">
            <div class="info">
                <h1 class="name">Denis Novik</h1>
                <p class="text-stage1">UX | UI designer 24 years old, Minsk</p>
                <div class="lang-container" v-if="showList || shouldShowList">
                    <span class="lang">
                        <button class="lang_ru" :class="{'active' : activeBtn === 'buttonRu'}" @click="setActiveBtn('buttonRu')">RU</button>&nbsp;|&nbsp;<button class="lang_en" :class="{'active' : activeBtn === 'buttonEng'}" @click="setActiveBtn('buttonEng')">ENG</button>
                    </span>
                </div>
            </div>
            <button class="burger" @click="toggleList"><img :src="showList ? 'img/cross.svg' : 'img/burger.svg'" alt="burger"></button>
            <!-- Контейнер для замены изображения -->
            <div class="img-el"></div>
        </section>
        <!-- Второй этаж -->
        <section id="about_me" class="stage-2">
            <div class="content-stage2">
                <h1 class="stage-2-header" onclick="toggleLanguage()">About me</h1>
                <span class="text-stage2">
                    <p>Hi, I'm Denis – UX/UI designer from Minsk.<br> I'm interested in design and everything connected with it.</p>
                    <p>I'm studying at courses "Web and mobile design <br>
                        interfaces" in IT-Academy.</p>
                    <p>Ready to implement excellent projects <br> with wonderful people.</p>
                </span>
                <div class="updated">Updated: {{ updateTime }}</div>
            </div>
        </section>
        <!-- Третий этаж -->
        <section id="skills" class="stage-3">
            <h1>Skills</h1>
            <p>I work in such programs as</p>
            <div class="apps">
                <div class="prog" v-for="prog in progs" :key="prog.id">
                    <img :src="prog.image" width="88" height="88" :alt="prog.alt">
                    <p class="prog-text" v-html="prog.name">{{ prog.name }}</p>
                    <div class="stars">
                        <img v-for="star in prog.stars" :key="star.id" :src="star.image" width="26" height="26" :alt="star.alt">
                    </div>
                </div>
            </div>
        </section>
        <!-- Четвертый этаж -->
        <section id="portfolio" class="stage-4">
            <h1>Portfolio</h1>
            <div class="art" v-for="item in portfolioItems" :key="item.id">
                <img :src="'img/' + item.src" max-width="950" min-height="520" :alt="item.alt">
                <p>{{ item.text }}</p>
            </div>
        </section>
    </main>
    <footer id="contacts">
        <h1>Contacts</h1>
        <p class="footer-text-1">Want to know more or just chat? <br> You are welcome!</p>
        <button>Send message</button>
        <div class="socials">
            <img :src="'img/' + item.src" width="40" height="40" :alt="item.alt" v-for="item in socialsImg" :key="item.id">
        </div>
        <p class="footer-text-2">Like me on <br> LinkedIn, Instagram, Behance, Dribble</p>
    </footer>
</body>
<script src="script_2.js"></script>
<script src="script_1.js"></script>
</html>